* {
    box-sizing: border-box;
}

body {
    color: White;
    background-image: url("resources/tele.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 4vw;
    font-family: Georgia;
}

h2 {
    text-align: center;
    font-size: 2vw ;
	padding-top: 2 ;
}

h3 {
    text-align: center ;
    font-size: 3vw ;
	padding-top: 2.5vw;
}

#para1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 6px, 4px;
}

li a:hover {
    background-color: #555;
    color: orange;
}

#blankspace {
	height: 28vw;
	width: 100%;
	clear: both;
	background-color: none;
	
}


.active {
    background-color: #4CAF50;
    color: white;
} 

.intro {
	width: 100%;
	/*background-color: rgba(170,170,170,.5);    makes background light gray transparent*/
	background-color: black;
	clear: both;
	height: min-content ;
}

#introtext {
	padding-left: 12vw;
	padding-right: 12vw;
	padding-top: 3vw;
	padding-bottom: 3vw;
	font-size: 1.2vw;
	text-align: center;
	line-height: 3vw;
}

.column {
	align: center;
    float: left;
    width: 20%;
    padding: 5px;
    height: 40vw;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    height: 3.75vw;
    background-color: rgba(170,170,170,.5);
    padding: 6px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
/* @media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
